# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/core

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
